
.coin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 10%;
}


.versus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/**<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  ">
<h1>THE FIGHT</h1>
</div>
<div class="row m-0 p-0 photo_bannier stats_bannier img-fluid">